{% extends 'SyliusSandboxBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Delivery <small>Where should we ship your order?</small></h1>
</div>

{% include 'SyliusSandboxBundle:Frontend/Checkout:_progressBar.html.twig' %}

<form method="post" action="{{ path('sylius_sandbox_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>
<fieldset>
    {% include 'SyliusSandboxBundle:Form:_address.html.twig' %}
</fieldset>
<div class="form-actions">
    <a href="{{ path('sylius_cart_show') }}" class="btn btn-large">back</a> &nbsp;
    <input type="submit" class="btn btn-primary btn-large" value="continue" />
</div>
</form>
{% endblock %}
