{% extends 'ApplicationCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<h1>Dziękujemy za złożenie zamówienia!</h1>

<div class="box">
    <div class="boxSuccess">
        Twoje zamówienie zostało przyjęte.
        <br />Będziemy Cię na bieżąco informować o jego statusie drogą mailową.
        <br /> <br />
        Pozdrawiamy,
        załoga sklepu <a href="http://dobredywany24.pl">dobredywany24.pl</a>.
    </div>
</div>

{% endblock %}
