{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Editing shipping method <small>"{{ method.name }}"</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_sandbox_backend_shipping_method_update', {'id': method.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusSandboxBundle:Backend/ShippingMethod:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
