<div class="well">
<h3>My cart</h3>
<strong>{{ sylius_cart_get().totalItems }}</strong> items, <strong>{{ sylius_cart_get().total }}</strong> &euro;
<hr />
<a href="{{ path('sylius_cart_summary') }}" class="btn btn-primary">show cart <i class="icon-shopping-cart icon-white"></i></a>
</div>

<div class="sidebar-nav well menu">
    {{ knp_menu_render('SyliusSandboxBundle:Builder:frontendSidebarMenu', {'template': 'SyliusSandboxBundle:Menu:sidebar.html.twig', 'currentClass': 'active'}) }}
</div>
