{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Updating option<small> Use the form below edit existing option</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_assortment_backend_option_update', {'id': option.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SandboxAssortmentBundle:Backend/Option:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
