{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Creating category<small> Use the form below to create a new blog category</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_categorizer_backend_category_create', {'alias': catalog.alias}) }}" method="post" class="form-horizontal">
    {% include 'SandboxBloggerBundle:Backend/Category:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="create category" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
