{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Updating category<small> Use the form below to modify existing category</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_categorizer_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" method="post" class="form-horizontal">
    {% include 'SandboxBloggerBundle:Backend/Category:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
