<ul>
    {% for category in category['__children'] %}
        <li><a href="{{ path('sylius_categorizer_category_show', {'alias': catalog.alias, 'slug': category.slug}) }}">{{ category.name }}</a></li>
        {% if category['__children'] is defined %}
            {% include 'SandboxAssortmentBundle:Frontend/Category:_node.html.twig' %}
        {% endif %}
    {% endfor %}
</ul>
