bin/doctrine
bin/doctrine.php
bin/behat
bin/goutte.phar
bin/phpspec

behat.yml

public/bundles/
public/assets/compiled/
public/uploads/
public/media/
public/js/

sandbox/config/container/*.local.yml
sandbox/config/container/parameters.yml
sandbox/phpunit.xml
sandbox/cache/
sandbox/logs/

vendor/

composer.phar
