bin/doctrine
bin/doctrine.php
bin/behat
bin/goutte.phar

public/bundles/
public/assets/compiled/
public/uploads/
public/media/

sandbox/config/container/*.local.yml
sandbox/config/container/parameters.yml
sandbox/phpunit.xml
sandbox/cache/
sandbox/logs/

src/Sylius/Sandbox/Bundle/CoreBundle/Resources/public/bootstrap

vendor/

composer.phar
composer.lock
