default:
    paths:
        features: features
    context:
        class: Sylius\Behat\FeatureContext
    extensions:
        Behat\Symfony2Extension\Extension:
            kernel:
                path: sandbox/SyliusSandboxKernel.php
                class: SyliusSandboxKernel
                env: testing
            mink_driver: true
        Behat\MinkExtension\Extension:
            show_cmd: firefox %s
            goutte: ~
