{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SyliusSandboxBundle') }}.</h4>
    There are no new notifications.
</div>

{% include 'SyliusSandboxBundle:Backend/Order:_summary.html.twig' %}

{% endblock %}
