{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>Welcome. <small>Sylius sandbox application.</small></h1>
</div>

<h2>About this application.</h2>
    <p>
    This application shows how to integrate <a href="http://sylius.org">Sylius</a> bundles.
    </p>
    <h3>Included bundles.</h3>
        <p>
        Here is the list of all bundles included in this sandbox application. <br />
        Number of them will be constantly growing. Feel free to comment and contribute.
        </p>
            <h4>Sylius bundles...</h4>
            <ul>
                <li><a href="http://github.com/Sylius/SyliusAssortmentBundle">SyliusAssortmentBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusCategorizerBundle">SyliusCategorizerBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusNewsletterBundle">SyliusNewsletterBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusCartBundle">SyliusCartBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusThemingBundle">SyliusThemingBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusBloggerBundle">SyliusBloggerBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusSalesBundle">SyliusSalesBundle</a>,</li>
                <li><a href="http://github.com/Sylius/SyliusPluginsBundle">SyliusPluginsBundle</a>.</li>
            </ul>
            <h4>Awesome third party bundles...</h4>
            <ul>
                <li><a href="http://github.com/whiteoctober/WhiteOctoberPagerfantaBundle">WhiteOctoberPagerfantaBundle</a>,</li>
                <li><a href="http://github.com/liip/LiipThemeBundle">LiipThemeBundle</a>.</li>
            </ul>

{% endblock %}
