{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>Welcome. <small>Sylius sandbox application.</small></h1>
</div>

<div class="row">
    <div class="span10">
        <h2>About this application.</h2>
            <p>
            This application shows how to integrate <a href="http://sylius.org">Sylius</a> bundles.
            </p>
            <h3>Included bundles.</h3>
                <p>
                Here is the list of all bundles included in this sandbox application. <br />
                Number of them will be constantly growing. Feel free to comment and contribute.
                </p>
                    <h4>Sylius bundles...</h4>
                    <ul>
                        <li><a href="http://github.com/Sylius/SyliusAssortmentBundle">SyliusAssortmentBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusCatalogBundle">SyliusCatalogBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusNewsletterBundle">SyliusNewsletterBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusCartBundle">SyliusCartBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusThemingBundle">SyliusThemingBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusBloggerBundle">SyliusBloggerBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusSalesBundle">SyliusSalesBundle</a>,</li>
                        <li><a href="http://github.com/Sylius/SyliusPluginsBundle">SyliusPluginsBundle</a>.</li>
                    </ul>
                    <h4>Awesome third party bundles...</h4>
                    <ul>
                        <li><a href="http://github.com/whiteoctober/WhiteOctoberPagerfantaBundle">WhiteOctoberPagerfantaBundle</a>,</li>
                        <li><a href="http://github.com/liip/LiipThemeBundle">LiipThemeBundle</a>.</li>
                    </ul>
    </div>
    <div class="span4">
        <h3>My cart.</h3>

        <strong>{{ sylius_cart_get().totalItems }}</strong> items, <strong>{{ sylius_cart_get().value }}</strong> &euro;...
        <a href="{{ path('sylius_cart_show') }}" class="btn primary pull-right">My cart &raquo;</a>
        <br /> <br /> <br />
        {% render 'sylius_categorizer.controller.frontend.category:listAction' with {'alias': 'assortment'} %}
        {% render 'sylius_categorizer.controller.frontend.category:listAction' with {'alias': 'blog'} %}
    </div>
</div>

{% endblock %}
