<strong>Thank you</strong> for subscribing. Confirm it...

<br /><br />

<a href="{{ path('sylius_newsletter_subscriber_confirm', {'token': subscriber.confirmationToken}) }}">{{ path('sylius_newsletter_subscriber_confirm', {'token': subscriber.confirmationToken}) }}</a>...

<br /><br />
