Dziękujemy za rejestrację w <b>lastdeal.pl</b>!

Aktywuj swoje konto używając poniższego linku:

<br />
<br />

<a href="{{ url('sylius_guard_user_confirm', {'token': user.confirmationToken}) }}">Aktywacja konta - kliknij tutaj</a>

<br />
<br />

Jeśli nie tworzyłeś konta w naszym serwisie, zignoruj tę wiadomość.