{% extends 'SandboxInstallerBundle:Setup:layout.html.twig' %}

{% block content %}

<div class="page-header"> 
  <h1>Sylius-Sandbox installation.</h1> 
</div> 

<div class="alert-message success">
<p><strong>Congratulations!</strong> You successfuly configured <strong>Sylius sandbox application</strong>.</p>
</div>

{% include 'SandboxInstallerBundle:Setup:menu.html.twig' %}

{% endblock %}
