{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
<h1>Newsletter. <small>Give us your email, get spam.</small></h1>
</div>

<div class="alert-message success">
  <p><strong>Thank you.</strong> Your subscription was confirmed.</p>
</div>

{% endblock %}
