{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Address updating <small>Use this form to edit existing address</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SandboxAddressingBundle:Backend/Address:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
