{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Creating product<small> Use the form below to create a new product</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_sandbox_backend_product_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SandboxCoreBundle:Backend/Product:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="create product" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
