{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Updating product<small> Use the form below to modify existing product</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_sandbox_backend_product_update', {'id': product.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SandboxCoreBundle:Backend/Product:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-primary btn-large" />
       <a href="{{ path('sylius_sandbox_backend_product_show', {'id': product.id}) }}" class="btn btn-large">cancel<a>
    </div>
</form>
{% endblock %}
