{% extends 'ApplicationCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Sending newsletter... <small>Wait for result.</small></h1>
</div>

{% if newsletter.sent %}
<div class="alert-message success">
  <p>Newsletter was sent.</p>
</div>
{% else %}
<div class="alert-message error">
  <p>Newsletter was not sent, problem occurred.</p>
</div>
<a href="{{ path('sylius_newsletter_backend_newsletter_send', {'id': newsletter.id}) }}" class="btn">send again</a>
{% endif %}

{% endblock content %}
