{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Categories<small> Manage assortment categories</small></h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_categorizer_backend_category_create', {'alias': catalog.alias}) }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> create category
    </a>
</div>

{% if categories|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>#id</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            {% include 'SandboxAssortmentBundle:Backend/Category:_row.html.twig' %}

            {% if category['__children'] is defined %}
                {% include 'SandboxAssortmentBundle:Backend/Category:_node.html.twig' %}
            {% endif %}
            {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">Information</h4>
    There are no categories to display
</div>
{% endif %}

{% endblock %}
