{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
<h1>{{ post.title }} <small>Enjoy the read!</small></h1>
</div>

<ul class="breadcrumb">
    <li class="current"><strong>Posted in categories</strong>: </li>
    {% for category in post.categories %}
        <li><a href="{{ path('sylius_categorizer_category_show', {'alias': 'blog', 'id': category.id, 'slug': category.slug}) }}">{{ category.name }}</a>{% if not loop.last %}, {% else %}.{% endif %}</li>
    {% endfor %}
</ul>

<div class="well">
{{ post.content|markdown }}
</div>

{% endblock %}
