<div class="well">
    <h2>{{ post.title }}</h2>
    <code>Posted at {{ post.createdAt|date('Y-m-d H:i:s') }} by <strong>{{ post.author }}</strong>.</code>
    <div class="pull-right">
    <a href="{{ path('sylius_blogger_post_show', {'slug': post.slug}) }}" class="btn">read</a>
    </div>
</div>
