<div class="well">
    <h2>{{ product.name }}</h2>
    {{ product.description|markdown }}

    <br /> <br />
    <code>Created at {{ product.createdAt|date('Y-m-d H:i:s') }}.</code>

    <a href="{{ path('sylius_assortment_product_show', {'id': product.id, 'slug': product.slug}) }}" class="btn">more info...</a>
    </form>
</div>
