{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    There are no new notifications.
</div>
{% endblock %}
