{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% import 'SandboxAssortmentBundle:Backend/Variant:macros.html.twig' as macros %}

{% block header %}
    <h1>Assortment product variants<small> List of all product variants</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('sylius_assortment_backend_variant_create', {'productId': product.id}) }}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i> create variant
</a>
</div>

{{ macros.list(variants, product) }}

{% endblock %}
