{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
<h1>Thank you. <small>We are sure you will be satisfied.</small></h1>
</div>

<div class="alert-message success">
  <p>Your order has been saved.</p>
</div>

{% endblock %}
