{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Thank you. <small>We are sure you will be satisfied.</small></h1>
</div>
<hr />
<div class="alert alert-success">
Your order has been saved.
</div>
{% endblock %}
