<h3>Blog categories.</h3>

{% if categories %}
<ul>
    {% for category in categories %}
        <li><a href="{{ path('sylius_categorizer_category_show', {'alias': catalog.alias, 'slug': category.slug}) }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
    No categories to display...
{% endif %}
