{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Add new status<small> Use the form below to create a order status</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('sylius_sales_backend_status_create') }}" method="post" class="form-horizontal">
<fieldset>
    {{ form_row(form.name, {'attr': {'class': 'span6'}}) }}
</fieldset>
    {{ form_rest(form) }}
    <div class="form-actions">
       <input type="submit" value="create status" class="btn btn-primary btn-large" />
    </div>
</form>
{% endblock %}
