{% extends 'SandboxCoreBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
<h1>Hvala. <small>Nadamo se da ćete biti zadovoljni.</small></h1>
</div>

<div class="alert-message success">
  <p>Vaša narudžbina je poslata.</p>
</div>

{% endblock %}
