<strong>Hvala</strong> što ste se prijavili na naš newsletter.

<br /><br />

Da biste potvrdili prijavu, posetite sledeći <a href="{{ url('sylius_newsletter_subscriber_confirm', {'token': subscriber.confirmationToken}) }}">link</a>.
