{% extends 'SyliusSandboxBundle:Backend:layout.html.twig' %}

{% import 'SyliusSandboxBundle:Backend/Order:macros.html.twig' as macros %}

{% block header %}
    <h1>Order details</h1>
{% endblock %}

{% block content %}

<div class="well">
<a href="{{ path('sylius_sandbox_backend_order_create') }}" class="btn btn-success">
    <i class="icon-plus-sign icon-white"></i> create new order
</a>
</div>

{% if orders.haveToPaginate() %}
{{ pagerfanta(orders, 'twitter_bootstrap_translated') }}
{% endif %}

<ul class="nav nav-tabs">
    <li><a href="">completed orders</a></li>
    <li><a href="">display all orders</a></li>
    <li><a href=""><span class="label label-important">&nbsp;!&nbsp;</span> incomplete orders</a></li>
</ul>

{{ macros.list(orders)  }}

{% if orders.haveToPaginate() %}
{{ pagerfanta(orders, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
