# This file is part of the Sylius sandbox application.
# (c) Paweł Jędrzejewski

sylius_sandbox_backend_address_list:
    pattern: /list
    defaults:
        _controller: sylius.controller.address:indexAction
        _template: SyliusSandboxBundle:Backend/Address:list.html.twig
        _sortable: true
        _sorting:
            updatedAt: desc

sylius_sandbox_backend_address_create:
    pattern: /create
    defaults:
        _controller: sylius.controller.address:createAction
        _template: SyliusSandboxBundle:Backend/Address:create.html.twig
        _redirect: sylius_sandbox_backend_address_show

sylius_sandbox_backend_address_update:
    pattern: /{id}/update
    defaults:
        _controller: sylius.controller.address:updateAction
        _template: SyliusSandboxBundle:Backend/Address:update.html.twig
        _redirect: sylius_sandbox_backend_address_show

sylius_sandbox_backend_address_delete:
    pattern: /{id}/delete
    defaults:
        _controller: sylius.controller.address:deleteAction
        _redirect: sylius_sandbox_backend_address_list

sylius_sandbox_backend_address_show:
    pattern: /{id}
    defaults:
        _controller: sylius.controller.address:showAction
        _template: SyliusSandboxBundle:Backend/Address:show.html.twig
