# This file is part of the Sylius sandbox application.
# (c) Paweł Jędrzejewski

sylius_sandbox_backend_address_list:
    pattern: /list
    defaults:
        _controller: sylius_addressing.controller.address:getCollectionAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Address:list.html.twig
            sortable: true
            sorting:
                updatedAt: desc

sylius_sandbox_backend_address_create:
    pattern: /create
    defaults:
        _controller: sylius_addressing.controller.address:createAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Address:create.html.twig
            redirect: sylius_sandbox_backend_address_show

sylius_sandbox_backend_address_update:
    pattern: /{id}/update
    defaults:
        _controller: sylius_addressing.controller.address:updateAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Address:update.html.twig
            redirect: sylius_sandbox_backend_address_show

sylius_sandbox_backend_address_delete:
    pattern: /{id}/delete
    defaults:
        _controller: sylius_addressing.controller.address:deleteAction
        _sylius.resource:
            redirect: sylius_sandbox_backend_address_list

sylius_sandbox_backend_address_show:
    pattern: /{id}
    defaults:
        _controller: sylius_addressing.controller.address:getAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Address:show.html.twig
