# This file is part of the Sylius sandbox application.
# (c) Paweł Jędrzejewski

sylius_sandbox_backend_prototype_list:
    pattern: /
    defaults:
        _controller: sylius_assortment.controller.prototype:getCollectionAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Prototype:list.html.twig

sylius_sandbox_backend_prototype_create:
    pattern: /create
    defaults:
        _controller: sylius_assortment.controller.prototype:createAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Prototype:create.html.twig
            redirect: sylius_sandbox_backend_prototype_list

sylius_sandbox_backend_prototype_update:
    pattern: /{id}/update
    defaults:
        _controller: sylius_assortment.controller.prototype:updateAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Prototype:update.html.twig
            redirect: sylius_sandbox_backend_prototype_list

sylius_sandbox_backend_prototype_delete:
    pattern: /{id}/delete
    defaults:
        _controller: sylius_assortment.controller.prototype:deleteAction
        _sylius.resource:
            redirect: sylius_sandbox_backend_prototype_list

sylius_sandbox_backend_prototype_build:
    pattern: /{id}/build
    defaults:
        _controller: sylius_assortment.controller.prototype:buildAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/Prototype:update.html.twig
            redirect: sylius_sandbox_backend_prototype_list
