# This file is part of the Sylius sandbox application.
# (c) Paweł Jędrzejewski

sylius_sandbox_backend_shipping_category_list:
    pattern: /
    defaults:
        _controller: sylius_shipping.controller.category:getCollectionAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/ShippingCategory:list.html.twig
            sortable: true
            sorting:
                name: desc

sylius_sandbox_backend_shipping_category_create:
    pattern: /create
    defaults:
        _controller: sylius_shipping.controller.category:createAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/ShippingCategory:create.html.twig
            redirect: sylius_sandbox_backend_shipping_category_list

sylius_sandbox_backend_shipping_category_update:
    pattern: /update
    defaults:
        _controller: sylius_shipping.controller.category:updateAction
        _sylius.resource:
            template: SyliusSandboxBundle:Backend/ShippingCategory:update.html.twig
            redirect: sylius_sandbox_backend_shipping_category_list

sylius_sandbox_backend_shipping_category_delete:
    pattern: /{id}/delete
    defaults:
        _controller: sylius_shipping.controller.category:deleteAction
        _sylius.resource:
            redirect: sylius_sandbox_backend_shipping_category_list
