<h3>Kategorije.</h3>

{% if categories %}
<ul>
    {% for category in categories %}
        <li><a href="{{ path('sylius_catalog_category_show', {'catalogAlias': catalog.alias, 'id': category.id, 'slug': category.slug}) }}">{{ category.name }}</a></li>
        {% if category.hasChildren() %}
            {% include 'SandboxAssortmentBundle:Frontend/Category:tree.html.twig' %}
        {% endif %}
    {% endfor %}
</ul>
{% else %}
    Nema kategorija.
{% endif %}
